body{
  background-color: #002a3f;
  padding: 0;
  margin: 0;
}
input[type="submit"]{
  display: none;
}
label {
  color: white;
  height: 60px;
  width: 250px;
  background-color: #f5af09;
  position:relative;
  margin: auto;
  top: 300;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat",sans-serif;
}
#submit{
  color: white;
  height: 50px;
  width: 100px;
  background-color: #f5af09;
  position:absolute;
  margin: auto;
  top:200;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat",sans-serif;
}
