<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title></title>
      <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>
  </head>
  <body>
<div class="d-flex flex-column" style="height: 100vh">
<div class="d-flex p-3 bg-secondary text-white justify-content-center">
  <div class="p-2 bg-info"><h1>Fake Image Detection</h1></div>
</div>
<div class="d-flex flex-row align-self-stretch flex-grow-1"style="max-width:100vw">
<div class="card  flex-grow-1 text-white bg-dark m-2">

        <div class="card-body">
        <h5 class="card-title">Upload Image</h5>
       <form id = "myForm" name = "myForm" action = "http://localhost:5000/analysis/metadata" method = "POST"
         enctype = "multipart/form-data" >
        <input type ="file" id="image_file" name="image_file" accept="image/*" onChange="loadFile(event)">
     <button type="submit" class="btn btn-primary m-2">Submit</button>
     </form>
      </div>
<img id="output" class="card-img-top" alt="...">
</div>
<div class="card  text-white bg-dark m-2" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Meta Data Analysis</h5>
	<p class="card-text">We have used the following metric for calculating  value of Meta-Real-Fake-Value(default value 0)
	    <ul>
                <li>Photoshop adds 5 </li>
		<li>Gimp add 5 </li>
		<li>Corel adds 5</li>
		<li>Adobe adds 3</li>
            <ul>
	</p>
	{% if meta_analysis == 1 %}
	    The Meta-Real-Fake-Value is: {{meta_fakeness}}<br>
	    The tags found were: {{meta_tags_found}}
	{% endif %}

      </div>
    </div>
<div class="card  text-white bg-dark m-2" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Model Prediction</h5>
	{% if meta_analysis == 1 %}
            <form id = "myForm" name = "myForm" action = "http://localhost:5000/model/prediction" method = "GET">
	    <input type="submit" value="Get Result">
	{% endif %}
        <p class="card-text">Percentage Fake Prediction: {{Fake}}</p>
      </div>
    </div>

<div class="card  text-white bg-dark m-2" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title">Deep Fake Detection</h5>
            <form id = "myForm" name = "myForm" action = "http://localhost:5000/model/deep_fake_prediction" method = "GET">
	    <input type="submit" value="Get Result">
	<p class="card-text">Check whether the image is a deep fake or not: <br>{{show}}</p>
      </div>
    </div>

</div>

</div>
  </body>

</html>
